@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-body: #FBFBFB;
  --color-primary: #0027D5;
  --color-secondary: #6C757D;
  --color-slate-750: #4B4B4B;

  --text-28: 1.75rem;
  --text-32: 2rem;
  --text-52: 3.25rem;
  --text-120: 7.5rem;

  --spacing-648: 40.5rem;
  --spacing-1296: 81rem;
}

@layer base {
  html {
    font-family: "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", sans-serif;
    font-weight: 500;
    background-color: var(--color-body);
  }
}

@layer components {
  .btn-outline {
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    border: 1px solid var(--color-black);
    border-radius: calc(infinity * 1px);
  }

  .btn-outlind-primary {
    border: 1px solid var(--color-primary);
  }

  .icon::before {
    content: '';
    display: block;
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .icon-lg::before {
    width: calc(var(--spacing) * 11);
    height: calc(var(--spacing) * 11);
  }
}


.icon-yt:before {
  background-image: url("@/assets/mobile/index/onlyIcon.png");
}
.icon-podcast:before {
  background-image: url("@/assets/mobile/index/onlyicon-1.png");
}
.icon-fb:before {
  background-image: url("@/assets/mobile/index/onlyicon-2.png");
}
.icon-linkedin:before {
  background-image: url("@/assets/mobile/index/icons8-linkedin 1.png");
}
.icon-ig:before {
  background-image: url("@/assets/mobile/index/onlyicon-3.png");
}
.icon-search:before {
  background-image: url("@/assets/mobile/blog/sreach.png");
}
.icon-page-left:before {
  background-image: url("@/assets/mobile/blog/page-left.png");
}
.icon-page-right:before {
  background-image: url("@/assets/mobile/blog/page-right.png");
}