@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #0027D5;
  --color-secondary: #4B4B4B;

  --text-28: 1.75rem;
  --text-52: 3.25rem;
}

@layer base {
  html {
    font-family: "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", sans-serif;
    font-weight: 500;
  }
}

@layer components {
  .btn-outline {
    padding: var(--spacing-2) var(--spacing-4);
    border: 1px solid var(--color-black);
  }

  .btn-outlind-primary {
    border: 1px solid var(--color-primary);
  }

  .icon::before {
    content: '';
    display: block;
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .icon-lg::before {
    width: calc(var(--spacing) * 11);
    height: calc(var(--spacing) * 11);
  }
}


.icon-yt:before {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/index/onlyIcon.png?raw=true");
}
.icon-podcast:before {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/index/onlyIcon-1.png?raw=true");
}
.icon-fb:before {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/index/onlyIcon-2.png?raw=true");
}
.icon-linkedin:before {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/index/icons8-linkedin%201.png?raw=true");
}
.icon-ig:before {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/index/onlyIcon-3.png?raw=true");
}
.icon-ig:before {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/index/onlyIcon-3.png?raw=true");
}