<footer class="py-6 bg-neutral-100 py-md-10">
  <div class="container">
    <div class="pb-5 mb-6 border-bottom d-md-flex">
      <h2 class="mb-2 mb-md-0">
        <a class="logo" href="index.html">URBNSTEP</a>
      </h2>
      <nav class="ms-3 ms-md-auto">
        <ul class="fw-medium d-md-flex">
          <li class="mb-1 me-md-7 mb-md-0">
            <a class="link-neutral py-3 d-inline-block" href="productList.html"
              >商品列表</a
            >
          </li>
          <li>
            <a class="link-neutral py-3 d-inline-block" href="brandStory.html"
              >品牌故事</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="fs-7 text-center text-neutral-600">
      <p class="mb-1">Copyright ©2025 URBNSTYLE</p>
      <p>All Rights Reserved.</p>
    </div>
  </div>
</footer>
