<header class="container">
  <div class="d-flex align-items-center py-3">
    <h1><a class="logo" href="index.html">URBNSTEP</a></h1>
    <nav class="d-none d-md-block">
      <ul>
        <li><a href="productList.html">商品列表</a></li>
        <li><a href="brandStory.html">品牌故事</a></li>
      </ul>
    </nav>
    <a class="btn-icon ms-auto" href="login.html"
      ><i class="icon-lg m-3 bi bi-person"></i
    ></a>
  </div>
</header>
