<h1 class="header">header</h1>
<a href="index.html">index</a>
<a href="productList.html">productList</a>
<a href="productDetail.html">productDetail</a>
<a href="favorite.html">favorite</a>
<a href="login.html">login</a>
<a href="singUp.html">singUp</a>
<a href="brandStory.html">brandStory</a>
<img src="/banner.png" alt="" srcset="" />
