<header>
    <div class="container">
        <div class="d-flex align-items-center py-3 py-md-4">
            <h1>
                <a
                    class="logo"
                    href="index.html"
                    >URBNSTEP</a
                >
            </h1>
            <nav class="d-none d-md-block ms-8">
                <ul class="d-flex fw-medium">
                    <li>
                        <a
                            class="link-neutral d-inline-block py-3"
                            href="productList.html"
                            >商品列表</a
                        >
                    </li>
                    <li class="ms-7">
                        <a
                            class="link-neutral d-inline-block py-3"
                            href="brandStory.html"
                            >品牌故事</a
                        >
                    </li>
                </ul>
            </nav>
            <a
                class="btn-icon ms-auto"
                href="login.html"
                ><i class="icon-lg m-3 bi bi-person"></i
            ></a>
        </div>
    </div>
    <nav class="d-md-none">
        <ul class="d-flex fw-medium text-center">
            <li class="flex-grow-1">
                <a
                    class="bg-primary-200 d-block py-3"
                    href="productList.html"
                    >商品列表</a
                >
            </li>
            <li class="flex-grow-1">
                <a
                    class="bg-primary-100 d-block py-3"
                    href="brandStory.html"
                    >品牌故事</a
                >
            </li>
        </ul>
    </nav>
</header>
