.logo {
  width: 180px;
  height: 30px;
  display: block;
  background: center / cover no-repeat url("/logo.svg");
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;

  &-light {
    width: 192px;
    height: 32px;
    background: center / cover no-repeat url("/logo-light.svg");
    @include media-breakpoint-up(md) {
      width: 270px;
      height: 45px;
    }
  }
}

// btn
.btn-white {
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: #{$white};
  --bs-btn-hover-bg: #{$primary};
  --bs-btn-hover-color: #{$white};
  --bs-btn-disabled-bg: #{$neutral-40};
}

// icons
.icon {
  --icon-url: unset;
  display: block;
  width: 24px;
  height: 24px;
  background-image: var(--icon-url);

  &-lg {
    width: 40px;
    height: 40px;
  }

  &-order {
    --icon-url: url("/icon/ic_order.svg");
  }
  &-setting {
    --icon-url: url("/icon/ic_setting.svg");
  }
  &-logout {
    --icon-url: url("/icon/ic_logout.svg");
  }
  &-line {
    --icon-url: url("/icon/btn_line.svg");
  }
  &-yt {
    --icon-url: url("/icon/btn_yt.svg");
  }
  &-fb {
    --icon-url: url("/icon/btn_fb.svg");
  }
}

// badges
.badge-circle {
  font-size: 0.75rem;
  line-height: 1rem;
  width: 1rem;
  text-align: center;
  border-radius: 50rem;
}
.badge-favorite {
  --bs-bg-opacity: 0.4;
  border-radius: 0 $border-radius-2xl 0 $border-radius-2xl;
  backdrop-filter: blur(12px);
  position: absolute;
  top: 0;
  right: 0;
}

.destination-album > * {
  img {
    width: 100%;
    object-fit: cover;
  }
  @include media-breakpoint-up(lg) {
    &:first-child {
      margin-right: -76px;
      img {
        border-radius: $border-radius-3xl 0 0 $border-radius-3xl !important;
      }
    }
    &:last-child .row {
      img {
        height: 256px;
      }
      :nth-child(2) img {
        border-top-right-radius: $border-radius-3xl;
      }
      :nth-child(4) img {
        border-bottom-right-radius: $border-radius-3xl;
      }
    }
  }
}

// swiper-buttoms
.swiper-btn {
  &-prev {
    left: 0;
  }
  &-next {
    left: 100%;
  }
  @include media-breakpoint-up(xxl) {
    &-prev {
      left: -48px;
    }
    &-next {
      left: calc(100% + 48px);
    }
  }
}
