.logo {
  width: 92px;
  height: 35.6px;
  background: center / cover no-repeat url("/logo.svg");
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  @media (min-width: 768px) {
    width: 124px;
    height: 48px;
  }
}

.btn {
  &.btn-primary {
    --bs-btn-hover-color: #{$primary};
    --bs-btn-hover-bg: #{$secondary-50};
    --bs-btn-hover-border-color: #{$secondary-50};
    --bs-btn-active-color: #{$primary};
    --bs-btn-active-bg: #{$secondary-50};
    --bs-btn-active-border-color: #{$secondary-50};
  }
  &.btn-outline-primary {
    --bs-btn-border-color: #{$natural-85};
    --bs-btn-bg: #{$white};
    --bs-btn-hover-color: #{$primary};
    --bs-btn-hover-bg: #{$natural-90};
    --bs-btn-hover-border-color: #{$natural-90};
    --bs-btn-active-color: #{$primary};
    --bs-btn-active-bg: #{$natural-90};
    --bs-btn-active-border-color: #{$natural-90};
  }
  &.btn-secondary {
    --bs-btn-hover-color: #{$white};
    --bs-btn-hover-bg: #{$primary-60};
    --bs-btn-hover-border-color: #{$primary-60};
    --bs-btn-active-color: #{$white};
    --bs-btn-active-bg: #{$primary-60};
    --bs-btn-active-border-color: #{$primary-60};
  }
  @media (min-width: 768px) {
    --bs-btn-border-radius: 1rem;
  }
}

.badge {
  line-height: $line-height-sm;
}

/*  header  */
.navbar-toggler {
  --bs-border-width: 0;
  &:hover,
  &:active {
    background: $natural-90;
  }
}

.offcanvas .btn-close {
  width: 20px;
  height: 20px;
}

.nav-link.link-primary {
  border-radius: $border-radius;
  &:hover,
  &:active,
  &.active {
    background-color: $natural-90;
  }
}

/*  表單元素客製化  */
.form-floating > .form-control {
  @include media-breakpoint-up(lg) {
    height: calc(3.5rem + calc(var(--bs-border-width) * 2)); // 56px + 2px
  }

  ~ label {
    font-size: $h8-font-size;
    @include media-breakpoint-up(lg) {
      font-size: $h7-font-size;
    }
  }

  // hover & active
  &:focus:not(:disabled) {
    --bs-form-valid-border-color: #{$input-focus-border-color};
    --bs-form-invalid-border-color: #{$input-focus-border-color};
    box-shadow: 0 0 0 4px rgba($primary-90, 1);

    ~ label {
      color: $natural-50;
    }
  }
  &:focus,
  &:not(:placeholder-shown) {
    ~ label {
      color: $natural-50;
    }
  }

  // disabled
  &:disabled {
    --bs-form-invalid-border-color: #{$natural-75};
    // 隱藏 input value
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-security: disc;
    pointer-events: none;

    ~ label {
      transform: none; // 取消浮動
      color: $natural-50;
    }
    &:not(:placeholder-shown) {
      ~ label {
        color: $natural-10;
      }
    }
  }
}

.invalid-feedback {
  font-size: $h9-font-size;
  padding-inline: 0.5rem;
  background: $pink;
}

// checkbox & radio
.form-check .form-check-input {
  // error
  &:invalid,
  &:invalid:checked,
  &.is-invalid {
    background-color: $pink;
    border-color: $danger;
    & ~ .form-check-label {
      color: inherit;
    }
  }

  // hover & active
  &:hover {
    border-color: $primary-60;
  }
  &:checked,
  &:hover:not(:disabled) {
    &[type="radio"] {
      --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 12 12'><circle cx='6' cy='6' r='6' fill='%23#{str-slice(#{$primary-60}, 2)}'/></svg>");
      background-size: 12px 12px;
    }
    &[type="checkbox"] {
      --bs-form-check-bg-image: url("data:image/svg+xml,<svg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.25 3.38869L4.36142 6.5L9.36142 1.5' stroke='%23#{str-slice(#{$white}, 2)}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
      background-color: $primary-60;
      background-size: auto;
    }
  }
  // disable
  &:disabled {
    background-image: none;
    background-color: $natural-75;
    border-color: $natural-75;
  }

  & ~ .form-check-label {
    font-size: $h8-font-size;
  }
}

// checkbox & radio group 群組樣式
.form-check-group {
  --check-space: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(var(--check-space) * -1);

  &:has(input[type="checkbox"]) {
    margin-inline: calc(var(--check-space) * -1);
  }

  @include media-breakpoint-up(md) {
    margin-inline: calc(var(--check-space) * -0.5) !important;
  }

  > .form-check {
    margin-inline: var(--check-space);
    margin-bottom: var(--check-space);
    @include media-breakpoint-up(md) {
      margin-inline: calc(var(--check-space) * 1.5);
    }
  }
}

// textarea
textarea.form-control {
  resize: none;
  overflow-y: auto;
  &:placeholder-shown ~ label {
    white-space: wrap;
  }
  &:focus ~ label {
    white-space: nowrap;
  }

  &:disabled:not(:placeholder-shown) {
    ~ label {
      color: $natural-10 !important;
    }
  }
}

// select
.form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23#{str-slice(#{$natural-10}, 2)}'><path d='M480-333 240-573l51-51 189 189 189-189 51 51-240 240Z'/></svg>");
  background-size: 20px 20px !important;
  @include media-breakpoint-up(md) {
    font-size: $h7-font-size;
  }
}
