.logo {
  width: 92px;
  height: 35.6px;
  background: center / cover no-repeat url("/logo.svg");
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  @media (min-width: 768px) {
    width: 124px;
    height: 48px;
  }
}

.btn {
  &.btn-outline-primary {
    --bs-btn-border-color: #{$natural-85};
    --bs-btn-bg: #{$white};
    --bs-btn-hover-color: #{$primary};
    --bs-btn-hover-bg: #{$natural-90};
    --bs-btn-hover-border-color: #{$natural-90};
    --bs-btn-active-color: #{$primary};
    --bs-btn-active-bg: #{$natural-90};
    --bs-btn-active-border-color: #{$natural-90};
  }
  &.btn-secondary {
    --bs-btn-hover-color: #{$white};
    --bs-btn-hover-bg: #{$primary-60};
    --bs-btn-hover-border-color: #{$primary-60};
    --bs-btn-active-color: #{$white};
    --bs-btn-active-bg: #{$primary-60};
    --bs-btn-active-border-color: #{$primary-60};
  }
  @media (min-width: 768px) {
    --bs-btn-border-radius: 1rem;
  }
}

.navbar-toggler {
  --bs-border-width: 0;
  &:hover,
  &:active {
    background: $natural-90;
  }
}

.offcanvas .btn-close {
  width: 20px;
  height: 20px;
}

.nav-link.link-primary {
  border-radius: $border-radius;
  &:hover,
  &:active,
  &.active {
    background-color: $natural-90;
  }
}

// 表單元素客製化
.form-floating > .form-control:focus:not(:disabled) ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control:not(:disabled) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
  color: $natural-50;
  font-size: $h8-font-size;
}

.form-floating > .form-control:disabled,
.form-floating > .form-control[readonly],
.form-floating > .form-select:disabled {
  pointer-events: none;
  ~ label {
    transform: none; // disabled 時取消浮動
  }
  &:not(:placeholder-shown) {
    // 隱藏 input value
    -webkit-text-security: disc;
    color: $natural-75;
    ~ label {
      color: $natural-10;
      font-size: $h7-font-size;
    }
  }
}

// check input
.form-check .form-check-input,
.form-check .form-check-input:valid {
  &:checked,
  d &:hover {
    background-color: $white;
    border-color: $primary-60;
    display: flex;
    &::after {
      content: "";
      width: 12px;
      height: 12px;
      margin: auto;
      background-color: $primary-60;
      border-radius: 50%;
    }
  }
}
.form-check .form-check-input,
.form-check .form-check-input:checked,
.form-check .form-check-input:valid:checked {
  &:disabled {
    opacity: unset;
    background-color: $natural-75;
    border-color: $natural-75;
    &::after {
      background-color: $natural-75;
    }
  }
}

.form-check-input ~ .form-check-label {
  font-size: $h8-font-size;
}

// 加上驗證後的客製化
.was-validated .form-control:valid:focus:not(:disabled),
.form-control.is-valid:focus:not(:disabled) {
  --bs-form-valid-border-color: #{$input-focus-border-color};
  box-shadow: 0 0 0 4px rgba($primary-90, 1);
}

.was-validated .form-control:invalid:disabled,
.form-control.is-invalid:disabled {
  --bs-form-invalid-border-color: #{$natural-75};
}

.invalid-feedback {
  font-size: $h9-font-size;
  padding-inline: 0.5rem;
  background: $pink;
}

.was-validated .form-check-input:invalid,
.was-validated .form-check-input:invalid:checked,
.form-check-input.is-invalid {
  background-color: $pink;
  border-color: $danger;
}
.was-validated .form-check-input:invalid ~ .form-check-label,
.form-check-input.is-invalid ~ .form-check-label {
  color: inherit;
}
.was-validated .form-check-input:disabled ~ .form-check-label {
  color: $natural-10;
  opacity: unset;
}
