.tracking-normal {
  letter-spacing: 0;
}

@media (min-width: 768px) {
  .fs-md-7 {
    font-size: $h7-font-size !important;
  }
}

.border-linear {
  border-top: 1px solid;
  background: linear-gradient(
        90deg,
        rgba(209, 217, 225, 0) 0%,
        #d1d9e1 50%,
        rgba(209, 217, 225, 0) 100%
      )
      padding-box,
    linear-gradient($white) border-box;
}
