.tracking-normal {
  letter-spacing: 0;
}

.border-linear {
  --bs-border-color: transparent;
  background: linear-gradient($natural-95, $natural-95) padding-box,
    linear-gradient(90deg,
      rgba(209, 217, 225, 0) 0%,
      #d1d9e1 50%,
      rgba(209, 217, 225, 0) 100%) border-box;
}

// API
$utilities: (
  "font-size": (rfs: false,
    property: font-size,
    class: fs,
    values: $font-sizes,
    responsive: true))