.banner {
  --bg-url: url("../images/brand-hero-sm.png");
  padding-block: 87px;
  background: center / cover no-repeat var(--bg-url);

  @include breakpoint(md) {
    padding-block: 151px;
    --bg-url: url("../images/brand-hero.png");
  }
}
