// links
.link-primary {
  --link-color: #{$primary-color-400};
  --border-width: 1px;
  color: var(--link-color);

  // 互動樣式
  &:hover:not(disabled, .disabled),
  &:focus {
    --link-color: #{$primary-color-500};
  }
  &:focus,
  &:focus-visible {
    --border-width: 2px;
  }
  &:disabled,
  &.disabled {
    opacity: 0.4;
  }

  // 裝飾底線
  .link-border {
    border-bottom: var(--border-width) solid var(--link-color);
    margin-bottom: calc(var(--border-width) * -1);
  }
}

.link-neutral {
  --link-color: #{$neutral-color-900};
  color: var(--link-color);

  // 互動樣式
  &:hover:not(disabled, .disabled) {
    --link-color: #{$neutral-color-600};
  }
  &:focus,
  &:focus-visible {
    border-bottom: 2px solid var(--link-color);
  }
  &:disabled,
  &.disabled {
    opacity: 0.4;
  }
}

// btns
.btn {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  line-height: 1.5;

  @include breakpoint(md) {
    padding: 12px 24px;
  }

  &-lg {
    padding: 12px 24px;
  }
}

// btn-style
.btn {
  --btn-text-color: unset;
  --btn-bg-color: unset;
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  border: none;

  &-neutral {
    --btn-text-color: #{$white-color};
    --btn-bg-color: #{$neutral-color-900};

    &:not(:disabled, .disabled) {
      &:hover,
      &:focus,
      &:focus-visible {
        --btn-bg-color: #{$neutral-color-700};
      }
      &:focus,
      &:focus-visible {
        box-shadow: 0px 0px 0px 3px rgba($color: $neutral-color-900, $alpha: 0.1);
      }
    }
    &:disabled,
    &.disabled {
      opacity: 0.4;
    }
  }

  &-primary {
    --btn-text-color: #{$neutral-color-900};
    --btn-bg-color: #{$primary-color-300}; 

        &:not(:disabled, .disabled) {
      &:hover,
      &:focus,
      &:focus-visible {
    --btn-text-color: #{$primary-color-500};
      }
      &:focus,
      &:focus-visible {
        box-shadow: 0px 0px 0px 3px rgba($color: $primary-color-300, $alpha: 0.4);

      }
    }
    &:disabled,
    &.disabled {
      opacity: 0.4;
    }
  }
}
// icon
.icon-base,
.icon-lg {
  line-height: 1;
  letter-spacing: normal;
  display: inline-flex;
}
.icon-base {
  font-size: $h5-font-size;
}
.icon-lg {
  font-size: $h4-font-size;
}

.btn-icon {
  --btn-text-color: #{$neutral-color-900};
  --btn-bg-color: unset;
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  border-radius: $border-radius-xs;

  &:not(:disabled, .disabled) {
    &:hover {
      --btn-text-color: #{$primary-color-400};
    }
    &:focus,
    &:focus-visible {
      --btn-bg-color: #{$primary-color-200};
    }
  }
  &:disabled,
  &.disabled {
    opacity: 0.4;
  }
}

// badges
.badge {
  padding: 8px 12px;
  font-size: $font-size-sm;
  font-weight:  $font-weight-medium;
  line-height: 1.5;

  &-primary {
    background-color: $primary-color-100;
    color: $primary-color-400;
  }
}

// logo
.logo {
  background: center/cover no-repeat url("../assets/images/logo.svg");
  display: block;
  width: 129px;
  height: 46px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}


// swiper
.product-swiper {
  overflow: hidden;
  .row {
    --gutter-x: 1rem;
    flex-wrap: nowrap;
    &.swiper-item-3 {
      width: 948px;
    }
    &.swiper-item-4 {
      width: 1264px;
    }
  }
}

.mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}