// 基本 RWD 工具
@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// 傳入斷點生成對應 spacing utils
@mixin generate-spacing-utils($infix: null) {
  @each $space, $value in $spacers {
    .p#{$infix}-#{$space} {
      padding: $value;
    }

    .px#{$infix}-#{$space} {
      padding-left: $value;
      padding-right: $value;
    }

    .py#{$infix}-#{$space} {
      padding-top: $value;
      padding-bottom: $value;
    }

    .pb#{$infix}-#{$space} {
      padding-bottom: $value;
    }

    .ps#{$infix}-#{$space} {
      padding-left: $value;
    }

    .m#{$infix}-#{$space} {
      margin: $value;
    }

    .my#{$infix}-#{$space} {
      margin-top: $value;
      margin-bottom: $value;
    }

    .mx#{$infix}-#{$space} {
      margin-left: $value;
      margin-right: $value;
    }

    .mt#{$infix}-#{$space} {
      margin-top: $value;
    }

    .me#{$infix}-#{$space} {
      margin-right: $value;
    }

    .mb#{$infix}-#{$space} {
      margin-bottom: $value;
    }

    .ms#{$infix}-#{$space} {
      margin-left: $value;
    }
  }
}