@each $key, $value in $primary-colors {
  .bg-primary-#{$key} {
    background-color: $value;
  }

  .text-primary-#{$key} {
    color: $value;
  }
}

@each $key, $value in $neutral-colors {
  .bg-neutral-#{$key} {
    background-color: $value;
  }

  .text-neutral-#{$key} {
    color: $value;
  }
}

@each $key, $value in $danger-colors {
  .text-danger-#{$key} {
    color: $value;
  }
}

.bg-white {
  background-color: $white-color;
}

.text-white {
  color: $white-color;
}

// spacing
@include generate-spacing-utils();

@each $breakpoint, $value in $breakpoints {
  @include breakpoint($breakpoint) {
    @include generate-spacing-utils("-#{$breakpoint}");
  }
}

// font-size
@each $size, $value in $font-sizes {
  .h#{$size} {
    font-size: $value;
    font-weight: $font-weight-bold;
    line-height: $line-height-sm;
  }

  .fs-#{$size} {
    font-size: $value;
  }
}

@each $size, $value in $display-sizes {
  .display-#{$size} {
    font-size: $value;
    font-weight: $font-weight-bold;
    line-height: $line-height-sm;
  }
}

@each $size, $value in $font-sizes {
  @include breakpoint(md) {
    .h#{$size}-md {
      font-size: $value;
      font-weight: $font-weight-bold;
      line-height: $line-height-sm;
    }

    .fs-md-#{$size} {
      font-size: $value;
    }
  }
}

@each $size, $value in $display-sizes {
  @include breakpoint(md) {
    .display-md-#{$size} {
      font-size: $value;
      font-weight: $font-weight-bold;
      line-height: $line-height-sm;
    }
  }
}

// text
.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: $font-weight-medium;
}

.lh-none {
  line-height: 0;
}

.lh-base {
  line-height: 1.5;
}

.font-family-tw {
  font-family: "Noto Sans TC", sans-serif, serif;
}

// 等待確認字型
// .font-family-en {
//   font-family: serif;
// }

@include breakpoint(md) {
  .text-md-center {
    text-align: center;
  }

  .text-md-end {
    text-align: end;
  }
}

// flex
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

@include breakpoint(md) {
  .d-md-none {
    display: none;
  }

  .flex-md-row {
    flex-direction: row;
  }
}

@include breakpoint(lg) {
  .d-lg-block {
    display: block;
  }
}

// position
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.start-0 {
  left: 0;
}

@include breakpoint(md) {
  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }
}

// border
.border-bottom {
  --border-width: #{$border-width};
  border-bottom: var(--border-width) solid $border-color;
}

.border-start {
  border-left: $border-width solid $border-color;
}

@each $width, $value in $border-widths {
  .border-#{$width} {
    --border-width: $value;
  }
}

@each $key, $value in $primary-colors {
  .border-primary-#{$key} {
    border-color: $value;
  }
}

@each $key, $value in $roundeds {
  .rounded-#{$key} {
    border-radius: $value;
  }
}

// width
.w-full {
  width: 100%;
}

// list-style
.list-circle {
  &>* {
    display: flex;

    &::before {
      content: "·";
      padding-inline: 0.25rem;
    }
  }
}