// breakpoints
$breakpoints: (
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// colors
$primary-color-100: rgb(245, 254, 231);
$primary-color-200: rgb(232, 254, 197);
$primary-color-300: rgb(192, 250, 115);
$primary-color-400: rgb(87, 162, 3);
$primary-color-500: rgb(71, 122, 17);

$neutral-color-100: rgb(248, 249, 250);
$neutral-color-200: rgb(233, 236, 239);
$neutral-color-300: rgb(222, 226, 230);
$neutral-color-400: rgb(206, 212, 218);
$neutral-color-500: rgb(173, 181, 189);
$neutral-color-600: rgb(108, 117, 125);
$neutral-color-700: rgb(73, 80, 87);
$neutral-color-800: rgb(52, 58, 64);
$neutral-color-900: rgb(33, 37, 41);

$white-color: rgb(255, 255, 255);

$primary-colors: (
  100: $primary-color-100,
  200: $primary-color-200,
  300: $primary-color-300,
  400: $primary-color-400,
);

$neutral-colors: (
  100: $neutral-color-100,
  200: $neutral-color-200,
  300: $neutral-color-300,
  400: $neutral-color-400,
  500: $neutral-color-500,
  600: $neutral-color-600,
  700: $neutral-color-700,
  800: $neutral-color-800,
  900: $neutral-color-900,
);

// spacing
$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  // 4px
  2: $spacer * 0.5,
  // 8px
  3: $spacer * 0.75,
  // 12px
  4: $spacer * 1,
  // 16px
  5: $spacer * 1.5,
  // 24px
  6: $spacer * 2,
  // 32px
  7: $spacer * 2.5,
  // 40px
  8: $spacer * 3,
  // 48px
  9: $spacer * 3.5,
  // 56px
  10: $spacer * 4,
  // 64px
  11: $spacer * 5,
  // 80px
  auto: auto,
  12: $spacer * 0.375, // 6px
);

// font
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875;
$font-size-xs: $font-size-base * 0.75;

$h1-font-size: $font-size-base * 2.5; // 40px
$h2-font-size: $font-size-base * 2; // 32px
$h3-font-size: $font-size-base * 1.75; // 28px
$h4-font-size: $font-size-base * 1.5; // 24px
$h5-font-size: $font-size-base * 1.25; // 20px
$h6-font-size: $font-size-base; // 16px

$font-weight-bold: 700;
$font-weight-medium: 500;

$line-height-sm: 1.2;

$font-sizes: (
  1: $font-size-base * 2.5,
  2: $font-size-base * 2,
  3: $font-size-base * 1.75,
  4: $font-size-base * 1.5,
  5: $font-size-base * 1.25,
  6: $font-size-base,
  7: $font-size-base * 0.875,
  8: $font-size-base * 0.75,
);
$display-sizes: (
  1: $font-size-base * 4,
  2: $font-size-base * 3,
);

// border
$border-width: 1px;

$border-widths: (
  1: 1px,
  3: 3px,
);

$border-color: $neutral-color-300;

$border-radius-xs: 0.25rem;
$border-radius-sm: 0.75rem;
$border-radius-pill: 50rem;

$roundeds: (
  xs: $border-radius-xs,
  sm: $border-radius-sm,
  pill: $border-radius-pill,
);
