<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URBNSTEP | 我的收藏</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <main class="container">
        <div class="row flex-column align-items-center">
            <section class="col-md-6">
                <h2 class="h3 text-center"><i class="icon"></i>我的收藏</h2>
                <p class="p-4 bg-primary-100 text-primary-400"><i class="icon"></i>門市營業時間：週一至週五 10:00 - 22:00</p>
            </section>
            <section class="col-md-6">
                <ul>
                    <li class="d-flex pb-6 mb-5 border-bottom">
                        <figure class="d-inline-block me-2">
                            <img src="../assets/images/product-11.png" alt="PLATFORM 404" style="height: 120px;" />
                        </figure>
                        <div>
                            <h4 class="h5">PLATFORM 404</h4>
                            <p class="mb-2">
                                <span class="text-neutral-600 me-3">尺寸</span>38
                            </p>
                            <p class="mb-2">
                                <span class="text-neutral-600 me-3">顏色</span>Navy
                            </p>
                            <p class="h6">NT$2,600</p>
                        </div>
                    </li>
                    <li class="d-flex pb-6 mb-5 border-bottom">
                        <figure class="d-inline-block me-2">
                            <img src="../assets/images/product-11.png" alt="PLATFORM 404" style="height: 120px;" />
                        </figure>
                        <div>
                            <h4 class="h5">BOOMLOK</h4>
                            <p class="mb-2">
                                <span class="text-neutral-600 me-3">尺寸</span>38
                            </p>
                            <p class="mb-2">
                                <span class="text-neutral-600 me-3">顏色</span>White
                            </p>
                            <p class="h6">NT$3,200</p>
                        </div>
                    </li>
                    <li class="d-flex pb-6 mb-5 border-bottom">
                        <figure class="d-inline-block me-2">
                            <img src="../assets/images/product-11.png" alt="PLATFORM 404" style="height: 120px;" />
                        </figure>
                        <div>
                            <h4 class="h5">MELTY KISS</h4>
                            <p class="mb-2">
                                <span class="text-neutral-600 me-3">尺寸</span>38
                            </p>
                            <p class="mb-2">
                                <span class="text-neutral-600 me-3">顏色</span>Violet
                            </p>
                            <p class="h6">NT$4,000</p>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-neutral" type="button">立即預約門市試穿</button>
            </section>
        </div>
    </main>
    <%- include('./layout/footer') %>
    <script type="module" src="../main.js"></script>
</body>
</html>
