<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP | 產品列表</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="container">
      <section>
        <nav class="mb-3">
          <ol class="breadcrumb">
            <li><a href="index.html">首頁</a></li>
            <li><a href="productList.html">女鞋</a></li>
            <li>所有商品</li>
          </ol>
        </nav>
        <h2 class="h4 mb-3 h3-md mb-md-5" style="padding-block: 9.5px">女鞋</h2>
      </section>
      <section class="row">
        <nav class="d-none d-md-block col-md-2">
          <ul>
            <li><a href="#">所有商品</a></li>
            <li><a href="#">慢跑鞋</a></li>
            <li><a href="#">滑板鞋</a></li>
            <li><a href="#">厚底鞋</a></li>
            <li><a href="#">限定 / 聯名企劃</a></li>
          </ul>
        </nav>
        <div class="col-md-10">
          <ul class="row gx-3 gy-5 mb-6">
            <li class="col-6 col-md-4">
              <picture class="mb-2 d-inline-block">
                <source
                  srcset="../assets/images/product-11.png"
                  media="(min-width: 768px)"
                />
                <img
                  class="w-full"
                  src="../assets/images/product-11.png"
                  alt="PLATFORM 404"
                />
              </picture>
              <h3 class="h6 fw-bold">PLATFORM 404</h3>
              <p class="fw-medium">NT$2,600</p>
            </li>
            <li class="col-6 col-md-4">
              <picture class="mb-2 d-inline-block">
                <source
                  srcset="../assets/images/product-11.png"
                  media="(min-width: 768px)"
                />
                <img
                  class="w-full"
                  src="../assets/images/product-11.png"
                  alt="品牌形象產品"
                />
              </picture>
              <h3 class="h6 fw-bold">PLATFORM 404</h3>
              <p class="fw-medium">NT$2,600</p>
            </li>
            <li class="col-6 col-md-4">
              <picture class="mb-2 d-inline-block">
                <source
                  srcset="../assets/images/product-11.png"
                  media="(min-width: 768px)"
                />
                <img
                  class="w-full"
                  src="../assets/images/product-11.png"
                  alt="品牌形象產品"
                />
              </picture>
              <h3 class="h6 fw-bold">PLATFORM 404</h3>
              <p class="fw-medium">NT$2,600</p>
            </li>
            <li class="col-6 col-md-4">
              <picture class="mb-2 d-inline-block">
                <source
                  srcset="../assets/images/product-11.png"
                  media="(min-width: 768px)"
                />
                <img
                  class="w-full"
                  src="../assets/images/product-11.png"
                  alt="品牌形象產品"
                />
              </picture>
              <h3 class="h6 fw-bold">PLATFORM 404</h3>
              <p class="fw-medium">NT$2,600</p>
            </li>
          </ul>
          <nav class="d-flex justify-content-center mb-7">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#">
                  <i class="icon-base bi bi-chevron-left"></i>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">...</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">10</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <i class="icon-base bi bi-chevron-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
    </main>
    <%- include('./components/sale-banner') %> <%- include('./layout/footer') %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
