<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP | 產品列表</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="container mt-4 mt-md-6 mb-md-7">
      <section>
        <nav class="mb-3 mb-md-5">
          <ol class="breadcrumb">
            <li><a href="index.html">首頁</a></li>
            <li><a href="productList.html">女鞋</a></li>
            <li>所有商品</li>
          </ol>
        </nav>
        <h2 class="h4 mb-3 py-2 h3-md mb-md-5">女鞋</h2>
      </section>
      <section class="row">
        <nav class="d-none d-lg-block col-md-2">
          <ul class="fw-medium">
            <li class="mb-4">
              <a class="d-block py-3 text-primary-400" href="#">所有商品</a>
            </li>
            <li class="mb-4">
              <a class="d-block py-3" href="#">慢跑鞋</a>
            </li>
            <li class="mb-4">
              <a class="d-block py-3" href="#">滑板鞋</a>
            </li>
            <li class="mb-4">
              <a class="d-block py-3" href="#">厚底鞋</a>
            </li>
            <li class="mb-4">
              <a class="d-block py-3" href="#">限定 / 聯名企劃</a>
            </li>
          </ul>
        </nav>
        <div class="col-lg-10">
          <ul class="row gx-3 gy-5 mb-6 gx-md-5 mb-md-8">
            <li class="col-6 col-md-4">
              <picture class="mb-2 d-block mb-md-3">
                <source
                  srcset="../assets/images/product-11.png"
                  media="(min-width: 768px)"
                />
                <img
                  class="w-full"
                  src="../assets/images/product-11.png"
                  alt="PLATFORM 404"
                />
              </picture>
              <h3 class="h6 fw-bold mb-md-1">PLATFORM 404</h3>
              <p class="fw-medium">NT$2,600</p>
            </li>
            <li class="col-6 col-md-4">
              <picture class="mb-2 d-block mb-md-3">
                <source
                  srcset="../assets/images/product-11.png"
                  media="(min-width: 768px)"
                />
                <img
                  class="w-full"
                  src="../assets/images/product-11.png"
                  alt="PLATFORM 404"
                />
              </picture>
              <h3 class="h6 fw-bold mb-md-1">PLATFORM 404</h3>
              <p class="fw-medium">NT$2,600</p>
            </li>
            <li class="col-6 col-md-4">
              <picture class="mb-2 d-block mb-md-3">
                <source
                  srcset="../assets/images/product-11.png"
                  media="(min-width: 768px)"
                />
                <img
                  class="w-full"
                  src="../assets/images/product-11.png"
                  alt="VM001"
                />
              </picture>
              <h3 class="h6 fw-bold mb-md-1">VM001</h3>
              <p class="fw-medium">NT$2,600</p>
            </li>
            <li class="col-6 col-md-4">
              <picture class="mb-2 d-block mb-md-3">
                <source
                  srcset="../assets/images/product-11.png"
                  media="(min-width: 768px)"
                />
                <img
                  class="w-full"
                  src="../assets/images/product-11.png"
                  alt="Melty Kiss"
                />
              </picture>
              <h3 class="h6 fw-bold mb-md-1">Melty Kiss</h3>
              <p class="fw-medium">NT$4,000</p>
            </li>
            <li class="col-6 col-md-4">
              <picture class="mb-2 d-block mb-md-3">
                <source
                  srcset="../assets/images/product-11.png"
                  media="(min-width: 768px)"
                />
                <img
                  class="w-full"
                  src="../assets/images/product-11.png"
                  alt="BOOMBLOK"
                />
              </picture>
              <h3 class="h6 fw-bold mb-md-1">BOOMBLOK</h3>
              <p class="fw-medium">NT$3,200</p>
            </li>
            <li class="col-6 col-md-4">
              <picture class="mb-2 d-block mb-md-3">
                <source
                  srcset="../assets/images/product-11.png"
                  media="(min-width: 768px)"
                />
                <img
                  class="w-full"
                  src="../assets/images/product-11.png"
                  alt="BOOMBLOK"
                />
              </picture>
              <h3 class="h6 fw-bold mb-md-1">BOOMBLOK</h3>
              <p class="fw-medium">NT$3,200</p>
            </li>
            <li class="col-6 col-md-4">
              <picture class="mb-2 d-block mb-md-3">
                <source
                  srcset="../assets/images/product-11.png"
                  media="(min-width: 768px)"
                />
                <img
                  class="w-full"
                  src="../assets/images/product-11.png"
                  alt="R:UNER"
                />
              </picture>
              <h3 class="h6 fw-bold mb-md-1">R:UNER</h3>
              <p class="fw-medium">NT$4,000</p>
            </li>
            <li class="col-6 col-md-4">
              <picture class="mb-2 d-block mb-md-3">
                <source
                  srcset="../assets/images/product-11.png"
                  media="(min-width: 768px)"
                />
                <img
                  class="w-full"
                  src="../assets/images/product-11.png"
                  alt="Sugar Snap"
                />
              </picture>
              <h3 class="h6 fw-bold mb-md-1">Sugar Snap</h3>
              <p class="fw-medium">NT$4,000</p>
            </li>
            <li class="col-6 col-md-4">
              <picture class="mb-2 d-block mb-md-3">
                <source
                  srcset="../assets/images/product-11.png"
                  media="(min-width: 768px)"
                />
                <img
                  class="w-full"
                  src="../assets/images/product-11.png"
                  alt="Neofoam"
                />
              </picture>
              <h3 class="h6 fw-bold mb-md-1">Neofoam</h3>
              <p class="fw-medium">NT$4,000</p>
            </li>
          </ul>
          <nav class="d-flex justify-content-center mb-7">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#">
                  <i class="icon-base bi bi-chevron-left"></i>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">...</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">10</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <i class="icon-base bi bi-chevron-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
    </main>
    <%- include('./components/sale-banner') %> <%- include('./layout/footer') %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
