*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif, serif;
  line-height: 1.5;
  letter-spacing: .05em;
  color: $neutral-color-900;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}