@each $key, $value in $primary-colors {
  .bg-primary-#{$key} {
    background-color: $value;
  }
  .text-primary-#{$key} {                 
    color: $value;
  }
}

@each $key, $value in $neutral-colors {
  .bg-neutral-#{$key} {
    background-color: $value;
  }
  .text-neutral-#{$key} {                 
    color: $value;
  }
}

.bg-white {
  background-color: $white-color;
}
.text-white {
  color: $white-color;
}

// spacing
@include generate-spacing-utils(); // 無斷點

@each $infix, $width in $breakpoints {
  @media (min-width: $width) {
    @include generate-spacing-utils($infix);
  }
}

// @each $space, $value in $spacers {
//   .p-#{$space} {
//     padding: $value;
//   }
//   .px-#{$space} {
//     padding-left: $value;
//     padding-right: $value;
//   }
//   .py-#{$space} {
//     padding-top: $value;
//     padding-bottom: $value;
//   }
//   .pb-#{$space} {
//     padding-bottom: $value;
//   }
//   .ps-#{$space} {
//     padding-left: $value;
//   }

//   .m-#{$space} {
//     margin: $value;
//   }
//   .me-#{$space} {
//     margin-right: $value;
//   }
//   .mb-#{$space} {
//     margin-bottom: $value;
//   }
//   .ms-#{$space} {
//     margin-left: $value;
//   }
// }

@each $size, $value in $font-sizes {
  .h#{$size} {
    font-size: $value;
    font-weight: $font-weight-bold;
    line-height: $line-height-sm;
  }
  .fs-#{$size} {
    font-size: $value;
  }
}


// flex
.d-flex {
  display: flex;
}
.d-inline-block {
  display: inline-block;
}
.d-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.d-md-block {
  @include breakpoint(md) {
    display: block;
  }
}

// text
.text-center {
  text-align: center;
}

.fw-medium {
  font-weight: $font-weight-medium;
}

// border
.border-bottom {
  --border-width: #{$border-width};
  border-bottom: var(--border-width) solid $border-color;
}
.border-start {
  border-left: $border-width solid $border-color;
}

@each $width, $value in $border-widths {
  .border-#{$width} {
    --border-width: $value;
  }
}

@each $key, $value in $primary-colors {
  .border-primary-#{$key} {
    border-color: $value;
  }
}

@each $key, $value in $roundeds {
  .rounded-#{$key} {
    border-radius: $value;
  }
}

// list-style
.list-circle {
  &>* {
    display: flex;    
    &::before {
      content: '·';
      padding-inline: .25rem;
    }
  }
}